@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EmployeesApp.Web.Models.Employee

<!DOCTYPE html>
<html>
<head>
    <title>Create Employee</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body style="margin: 50px;">
    <h2>Create Employee</h2>

    <form asp-controller="Employees" asp-action="Create" style="width: 300px;">
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>

        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
        <br />
        <input type="submit" value="Save" />
    </form>
    <div asp-validation-summary="All"></div>
</body>
</html>