@model Employee

@{
    ViewBag.Title = "Create Employee";
}

<div>
    <h2>Create Employee</h2>

    <form asp-controller="Employees" asp-action="Create" style="width: 300px;">
        <label asp-for="Name"></label>
        <input asp-for="Name" required/>
        <span asp-validation-for="Name"></span>

        <label asp-for="Email"></label>
        <input asp-for="Email" required/>
        <span asp-validation-for="Email"></span>
        <br />
        <input type="submit" value="Save" />
    </form>
    <div asp-validation-summary="All"></div>
   
</div>
@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js" asp-fallback-src="/scripts/lib/jquery-validate/jquery.validate.min.js" asp-fallback-test="window.jQuery"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js" asp-fallback-src="/scripts/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-fallback-test="window.jQuery"></script>
}