@model EmployeesApp.Web.Models.Employee

<!DOCTYPE html>
<html>
<head>
    <title>Employee Details</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body style="margin: 50px;">
    <h2>Employee Details</h2>
    <h4>ID: <i>@Model.Id</i></h4>
    <h4>Name: <i>@Model.Name</i></h4>
    <h4>E-mail: <i>@Model.Email</i></h4>
</body>
</html>