@model Employee

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>Employee Details</h2>
    <h4>ID: <i>@Model.Id</i></h4>
    <h4>Name: <i>@Model.Name</i></h4>
    <h4>E-mail: <i>@Model.Email</i></h4>
</div>