@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body>
<div>
    <h1>@ViewBag.Title</h1>
    <ul>
        <li><a asp-controller="Employees" asp-action="Index">Index</a></li>
        <li><a asp-controller="Employees" asp-action="Create">Create</a></li>
    </ul>

    @RenderBody()
    <footer>
        <p>&copy; 2025</p>
    </footer>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js" asp-fallback-src="/scripts/lib/jquery/jquery.min.js" asp-fallback-test="window.jQuery"></script>
        @RenderSection("scripts", false)
</div>
</body>
</html>
